{% extends "base.html" %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecordStar Google Sign In</title>
</head>
<body>
    <div>
        <h2> Google Login </h2>
        <form method="POST" action="{% provider_login_url 'google' %}">
            {% csrf_token %}
            <button type="submit">Login With Google</button>
        </form>
    </div>
</body>
</html>